body{
	margin: 0;
	padding: 0;
	color:#555555;
	background-color: #f4f5f7;
	font-family: Verdana, sans-serif
}
table{
	border-spacing: 2px;
	width:100%;
}
button:focus {outline:0;}
#center_column{
	margin: 0 2rem 0 2rem;
	background-color: white;
	padding:1em;
}
.drum_table{
	margin-bottom: 1em;
}
.controls{
	padding-top: 1em;
	border-top:2px solid #555555;
}
.control_items{
	margin: 0 2rem 0 2rem; 
}
.inst{
	height: 100%;
	border-top:2px solid #555555;;
}
.all_inst{
	min-width: 8rem;
	margin-bottom: 0;
}
.all_inst:hover{
	cursor: pointer;
	background-color: #f4f5f7;
}
.remove{
	color: #f2686c;
}
.remove:hover, .add:hover{
	color: #555555;
}
.add{
	color: #85d372;
}
.pads{
	width:4rem;
	height: 4rem;
	background-color: #576377;
	border: 2px solid #576377;
}
.pads:hover {
	opacity: .8;
}
.down_beats{
	background-color: #454f60;
}
.pads-play{
	background-color: #faaf4f;
	border: 2px solid #faaf4f;
}

.curr_note{
	opacity: .8;
}
.pads-play.curr_note{
	transform: scale(1.1);
}
.slider {
  -webkit-appearance: none;
  width: 10rem;
  height: 15px;
  background: #f4f5f7;
  outline: none;
  -webkit-transition: .1s;
  transition: opacity .1s;
}

.slider:hover {
  opacity: 0.8;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 30px;
	background: #faaf4f;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #faaf4f;
	cursor: pointer;
}
.buttons {
	background-color: #555555;
	padding:1rem;
	height: 3rem;
	/*padding: 12px 24px;*/
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
	cursor: pointer;
	color: white;
}

.buttons:hover {
	background-color: #f4f5f7;
	color: black;
}
#room_id{
	height: 1rem;
	font-size: 1rem;
}
@media only screen and (max-width: 1000px){
	#center_column{
		margin: 0 .5rem 0 .5rem;
	}
}