table{
	border-spacing: 0px;
}

.pads{
	width:4rem;
	height: 4rem;
	background-color: #576377;
	border: 1px solid white;
}

.pads:hover {
	opacity: .8;
}
.pads-play{
	background-color: #faaf4f;
}
.pads-selected{
	border: 1px solid black;
}
.curr_note{
	opacity: .8;
}
.pads-play.curr_note{
	/*transform: scale(1.1);*/
	
}
