body{
	margin: 0;
	padding: 0;
	background-color: #f4f5f7;
	font-family: Verdana, sans-serif
}
table{
	border-spacing: 0px;
	width:100%;
}
#center_column{
	margin: 0 5rem 0 5rem;
	background-color: white;
	padding:1rem;
}
.pads{
	width:4rem;
	height: 4rem;
	background-color: #576377;
	border: 1px solid white;
}
.pads:hover {
	opacity: .8;
}
.pads-play{
	background-color: #faaf4f;
}
.pads-selected{
	border: 1px solid black;
}
.curr_note{
	opacity: .8;
}
.pads-play.curr_note{
	transform: scale(1.1);
	
}
.controls{
	margin-top: 2rem;
}
.slider {
  -webkit-appearance: none;
  width: 10rem;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 0.8;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 30px;
  background: #faaf4f;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #faaf4f;
  cursor: pointer;
}